<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <% if (email) { %>
    Hello , <%= email %>
      <% } else { %>
        Welcome to task manager, please enter your email:
        <form action="/login" method="POST">
          <input type="email" name="email" required>
          <button type="submit">Login</button>
        </form>
        <% } %>
</body>

</html>