<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include('partial/header') %>
    <div class="container">
      <h1>Task Manager - Add Task</h1>

      <form action="/task/add" method="POST">
        <input type="text" name="task" placeholder="Enter a new task" required>
        <button type="submit">Add Task</button>
      </form>
    </div>
</body>

</html>