<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Home
    <a href="/login">Login</a>
    <button id="my-btn">LOG</button>
    
    
    </form>
    <script>
      document.getElementById('my-btn').addEventListener('click', function(){
        console.log('HELLO!');
      });
    </script>
  </body>
</html>
