<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/index-2.js" async defer></script>
  </head>
  <body>
    Home
    <a href="/login">Login</a>
    
    
    </form>
    <div id="loader" class="hidden">Loading...</div>
    <ul id="todo-list">
      
    </ul>
    
    <input id="text-input" type="text" />
    <button id="my-btn">ADD</button>
    <% if (user) { %>
      
      <script>const user = '<%= user %>'</script>
      <% } %>
  </body>
</html>
