<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      console.log(1);
    </script>
  </head>
  <body>
    Login

    <form method="post" action="/login">
      <div>
        <label for="email">Email</label>
        <input id="email" type="text" name="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
      </div>
      <% if (error) { %>
      <h2><%= error %></h2>
      <% } %>
      <button>Login</button>
    </form>
  </body>
</html>
